In [ ]:
house_0_list = [115910.26,128,4]
house_0_list

[115910.26, 128, 4]

In [ ]:
# Task 1.1.1 Cal price of house per meter square
# to do this we divide the price of the house by the number of the square meter
house_0_price_m2 = house_0_list[0]/house_0_list[1]
house_0_price_m2

905.54890625

In [ ]:
# Task 1.1.2 I want to add the above cal to my list using the applend method
house_0_list.append(house_0_price_m2)
house_0_list

[115910.26, 128, 4, 905.54890625]

In [ ]:
# Task 1.1.3 Applend the price per square meter to each observation in the house_nested_list using a for loop
house_nested_list = [
    [115910.06, 128.0, 4.0],
    [48718.17, 210.0, 3.0],
    [28977.56, 58.0, 2.0],
    [36932.27, 79.0, 3.0],
    [83903.51, 110.0, 3.0]
]

house_nested_list

[[115910.06, 128.0, 4.0],
 [48718.17, 210.0, 3.0],
 [28977.56, 58.0, 2.0],
 [36932.27, 79.0, 3.0],
 [83903.51, 110.0, 3.0]]

In [ ]:
house_nested_list = [
    [115910.06, 128.0, 4.0],
    [48718.17, 210.0, 3.0],
    [28977.56, 58.0, 2.0],
    [36932.27, 79.0, 3.0],
    [83903.51, 110.0, 3.0]
]

for house in house_nested_list:
    price_m2 = house[0] / house[1]
    house.append(price_m2)

house_nested_list

[[115910.06, 128.0, 4.0, 905.54734375],
 [48718.17, 210.0, 3.0, 231.9912857142857],
 [28977.56, 58.0, 2.0, 499.61310344827587],
 [36932.27, 79.0, 3.0, 467.4970886075949],
 [83903.51, 110.0, 3.0, 762.7591818181818]]

In [8]:
# Working With Dictionaries
house_0_dict = {"price_aprox_uds":115910.06, "surface_covered_in_m2": 128.0, "room": 4.0,

}
house_0_dict

{'price_aprox_uds': 115910.06, 'surface_covered_in_m2': 128.0, 'room': 4.0}

In [11]:
# Task 1.1.4 Calulate price per square meter using dictionary
house_0_dict["price_m2"] = house_0_dict ["price_aprox_uds"]/house_0_dict["surface_covered_in_m2"]
house_0_dict

{'price_aprox_uds': 115910.06,
 'surface_covered_in_m2': 128.0,
 'room': 4.0,
 'price_m2': 905.54734375}

In [21]:
houses_rowwise = [
    {"price_aprox_uds":115910.06, "surface_covered_in_m2": 128.0, "room": 4.0},
     {"price_aprox_uds":48718.17, "surface_covered_in_m2": 210.0, "room": 3.0 },
      {"price_aprox_uds":28977.56, "surface_covered_in_m2": 58.0, "room": 2.0},
     {"price_aprox_uds":36932.27, "surface_covered_in_m2": 79.0, "room": 3.0},
     {"price_aprox_uds":83903.51, "surface_covered_in_m2": 110.0, "room": 3.0},

]
houses_rowwise

[{'price_aprox_uds': 115910.06, 'surface_covered_in_m2': 128.0, 'room': 4.0},
 {'price_aprox_uds': 48718.17, 'surface_covered_in_m2': 210.0, 'room': 3.0},
 {'price_aprox_uds': 28977.56, 'surface_covered_in_m2': 58.0, 'room': 2.0},
 {'price_aprox_uds': 36932.27, 'surface_covered_in_m2': 79.0, 'room': 3.0},
 {'price_aprox_uds': 83903.51, 'surface_covered_in_m2': 110.0, 'room': 3.0}]

In [22]:
# Task 1.1.5 Applend the price per square meter to each observation in the house_nested_dict using a for loop
for house in houses_rowwise:
    house["price_per_m2"] = house["price_aprox_uds"] / house["surface_covered_in_m2"]

houses_rowwise

[{'price_aprox_uds': 115910.06,
  'surface_covered_in_m2': 128.0,
  'room': 4.0,
  'price_per_m2': 905.54734375},
 {'price_aprox_uds': 48718.17,
  'surface_covered_in_m2': 210.0,
  'room': 3.0,
  'price_per_m2': 231.9912857142857},
 {'price_aprox_uds': 28977.56,
  'surface_covered_in_m2': 58.0,
  'room': 2.0,
  'price_per_m2': 499.61310344827587},
 {'price_aprox_uds': 36932.27,
  'surface_covered_in_m2': 79.0,
  'room': 3.0,
  'price_per_m2': 467.4970886075949},
 {'price_aprox_uds': 83903.51,
  'surface_covered_in_m2': 110.0,
  'room': 3.0,
  'price_per_m2': 762.7591818181818}]

In [24]:
# Task 1.1.6 calculating the mean price, row-wise using dictionary
house_prices = []
for house in houses_rowwise:
    house_prices.append(house["price_aprox_uds"])
house_prices

[115910.06, 48718.17, 28977.56, 36932.27, 83903.51]

In [29]:
house_prices = []
for house in houses_rowwise:
    house_prices.append(house["price_aprox_uds"])
house_prices
sum(house_prices)

314441.57

In [30]:
len(house_prices)

5

In [32]:
mean_house_price = sum(house_prices)/len(house_prices)
mean_house_price

62888.314

In [35]:
house_surface_covered_in_m2 = []
for house in houses_rowwise:
    house_surface_covered_in_m2.append(house["surface_covered_in_m2"])
house_surface_covered_in_m2

[128.0, 210.0, 58.0, 79.0, 110.0]

In [36]:
house_room = []
for house in houses_rowwise:
   house_room.append(house['room'])
house_room

[4.0, 3.0, 2.0, 3.0, 3.0]

In [37]:
# Task 1.1.7  Calculate the mean house price in houses_columnwise
houses_columnwise = {
    'price_aprox_uds':[115910.06, 48718.17, 28977.56, 36932.27, 83903.51],
   "surface_covered_in_m2": [128.0, 210.0, 58.0, 79.0, 110.0],
    'room': [4.0, 3.0, 2.0, 3.0, 3.0]
}
houses_columnwise

{'price_aprox_uds': [115910.06, 48718.17, 28977.56, 36932.27, 83903.51],
 'surface_covered_in_m2': [128.0, 210.0, 58.0, 79.0, 110.0],
 'room': [4.0, 3.0, 2.0, 3.0, 3.0]}

In [38]:
# To calculate the mean of houses_columnwise
mean_house_price = sum(houses_columnwise['price_aprox_uds'])/len(houses_columnwise['price_aprox_uds'])
mean_house_price

62888.314

In [41]:
# Task 1.1.8: Create a "price_per_m2" column in houses_columnwise
price = houses_columnwise['price_aprox_uds']
area = houses_columnwise['surface_covered_in_m2']
zip(price, area)

In [42]:
# Using for loop
price_per_m2 = []
for price, area in zip(price, area):
    price_per_m2.append(price/area)
price_per_m2

[905.54734375,
 231.9912857142857,
 499.61310344827587,
 467.4970886075949,
 762.7591818181818]

In [43]:
houses_columnwise['price_per_m2'] = price_per_m2
houses_columnwise

{'price_aprox_uds': [115910.06, 48718.17, 28977.56, 36932.27, 83903.51],
 'surface_covered_in_m2': [128.0, 210.0, 58.0, 79.0, 110.0],
 'room': [4.0, 3.0, 2.0, 3.0, 3.0],
 'price_per_m2': [905.54734375,
  231.9912857142857,
  499.61310344827587,
  467.4970886075949,
  762.7591818181818]}

In [44]:
# Task 1.1.9: Pandas Preview
import pandas as pd
houses_df = pd.DataFrame(houses_columnwise)
houses_df

   price_aprox_uds  surface_covered_in_m2  room  price_per_m2
0        115910.06                  128.0   4.0    905.547344
1         48718.17                  210.0   3.0    231.991286
2         28977.56                   58.0   2.0    499.613103
3         36932.27                   79.0   3.0    467.497089
4         83903.51                  110.0   3.0    762.759182